.home-profile-img {
    width: 150px;
    height: 150px;
    margin-right: 1em;
    border-radius: 10px;
}
.home-profile-name {
    text-align: left;
    margin-bottom: 0em;
}
.home-profile-name-center {
    text-align: center;
    margin-bottom: 0em;
}
.home-panel {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0.7em;
    padding-left: 1.5em;
    border-style: dashed;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 10px;
    max-width: 500px;
}

.home-showcase-image {
    border-radius: 20px;
    width: 100%;
    max-width: 1080px;
}