.prices-description {
    font-weight: 300;
    color: gray;
}

.prices-thumbnail {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    height: 150px;
    margin-right: 0.9em;
    cursor: pointer;
}

.prices-thumbnail-large {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    height: 270px;
    margin-right: 1em;
    cursor: pointer;
}

.prices-item-description {
    text-align: left;
    color: darkgray;
}

.prices-item-open {
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 20px;
    padding: 2px 0;
    margin: 0px;
    margin-right: 0.4em;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 15px;
    background-color: rgb(108, 200, 100);
}

.prices-item-closed {
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 20px;
    padding: 2px 0;
    margin: 0px;
    margin-right: 0.4em;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 15px;
    background-color: rgb(194, 194, 194);
}